.header{
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 26px;

}
.header__navigation{
  display: flex;
  justify-content: space-between;
}
.header__navigation-title{
font-family: Roboto Slab;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
padding: 10px
}
.header__navigation-list{
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  border: 3px solid red;
  justify-content: space-between;
}

.header__navigation-item{
  font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #FFFFFF;
text-decoration: none;
margin-right: 42px;
}
.header__navigation-item_sign{
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid #FFFFFF;
}