.card{
  width: 400px;
  height: 576px;
  position: relative;
    border-radius: 10px;
    margin: 8px 8px;
    background-color: #fff;
    list-style: none;
}
.card__image{
  position: relative;
  z-index: 0;
  width: 100%;
  height: 272px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__date{
  color:#B6BCBF;
  font-family: "Source Sans Pro",  sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 24px 12px;
}
.card__title{
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0 24px;
  text-overflow: ellipsis;

  
}
.card__text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  margin: 16px auto;
  overflow: hidden;
  word-wrap: break-word;
  width: 352px;
  height: 110px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.card__source{
  width: 352px;
  margin: 2px 24px 24px;
}
.card__source-link{
  display: inline-block;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: .4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #B6BCBF;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

.card__trash-button{
  border: 0;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  background-image: url(../../images/trash.png);
  background-position: center;
  background-repeat: no-repeat;
}
.card__trash-button:hover{
  background-image: url(../../images/trashHover.png);
  cursor: pointer;
}



.card__save-button{
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 2;
  background-color: #fff;
  background-image: url("../../images/unfilled.png");
  background-position: center;
  background-repeat: no-repeat;
}
.card__save-button:hover{
  cursor: pointer;
  background-image: url(../../images/saved.png);
}
.card__save-button_saved{
  background-image: url(../../images/savedFilled.png)
}

.card__keyword-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  position: absolute;
  top: 24px;
  left: 24px;
  border-radius: 10px;
  height: 40px;
  padding: 0 22px;
  text-transform: capitalize;
  border: 0;
}

.card__hover-text{
  background-color: #fff;
  position: absolute;
  top: 24px;
  right: 69px;
  z-index: 2;
  width: 182px;
  height: 40px;
  border-radius: 10px;
  border: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.06px;
}
@media screen and (max-width: 760px) {
  .card{
    width: 288px;
    height: auto;
    margin: auto;
    margin-bottom: 10px;
  }
  .card__image{
    z-index: 0;
    width: 100%;
    height: 196px;
 
  }
  .card__date{
    width: 256px;
    margin: 16px auto 10px auto;
    
  }
  .card__title{
    width: 256px;
    margin: auto;
  }
  .card__text{
    width: 256px;
    margin: 16px auto 8px auto;

  }
  
  .card__source{
    width: 256px;
    margin: 8px auto 17px auto;

  }
  .card__source-link{
   width: 100%;
  }
  
}