.header{
  background-color: rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  padding: 0;
}
.header__saved{
  background-color: #ffffff;
  box-shadow: inset 0px -1px 0px #D1D2D6;
}

.header__title{
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  }
  .header__title-saved{
    color: #1A1B22;
  }
  
  

  .header__links{
    display: flex;
    justify-content: space-between;
  }

  .header__links-list{
    margin-right: 60px;
  }
  
  .header__links-item{
    text-decoration: none;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #B6BCBF;
    margin: 0 auto;
    padding: 26px;
    transition: opacity .5s ease-in-out;
  }

  .header__links-item_hidden{
    display: none
  }
  .header__links-item:hover{
    opacity: .5;
  }
  
  .header__links-item_selected{
    color: #ffffff;
    border-bottom:3px solid white ;
  }
  .header__links-button{
    background-color: rgba(196, 196, 196, 0.01);
    color: #fff;
    border-radius: 100px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #FFFFFF;
    width: 176px;
    height: 48px;
    margin: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__links-button:hover{
  cursor: pointer; 
}
.header__links-button_saved{
  border: 1px solid #1A1B22;
  color: #1A1B22;
}
.header__links-button_image{
  width: 17.4px;
  height: 16px;
  margin-left: 19px;
}
 
.header__links-item_saved{
  color: #1A1B22;
}


/* responisveness */

.header__hamburger{
  display: none;
}

@media screen and (max-width:600px){
  .header{
    overflow: hidden;
    background-color: #333;
    position: relative;
    max-width: 100%;
    display: inline-block;
    width: 100vw;
   margin: 0;

background: rgba(196, 196, 196, 0.01);
box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .header__saved{
    background-color: #ffffff;
    box-shadow: inset 0px -1px 0px #D1D2D6;
  }
  .header__mobile{
    background: #1A1B22;
  }

  .header__links{
    padding: 0;
    display: none;
    z-index: 5;
    width: 100vw;
    position: fixed;
    background: rgb(26, 27, 34);
    height: 286px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
  }
  .header__title{
    color: #ffffff;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-left: 16px;
    margin-bottom: 24px;
  }
  .header__title-saved{
    color: #1A1B22;
  }

  .header__links-item{
    color: #ffffff;
    padding: 14px 0px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    margin-left: 16px;
    margin-bottom: 24px;
  }

  .header__hamburger {
    padding: 0;
    display: block;
    border: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
  }

  .header__button-open{
    background-image: url("../../images/menu.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(196, 196, 196, 0.01);
  }
  .header__button-open-saved{
    background-image: url("../../images/menublack.png")
    ;
    background-color: #fff;
  }
  .header__button-close{
    background-image: url("../../images/close.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(196, 196, 196, 0.01);
  }
  .header__title{
    margin: 16px;
    
  }
  .header__title-burger_saved{
    color: #fff
  }
  
  .header__links-button{
    width: 90%;
    height: 56px;
    margin: 24px auto;
    background: #1A1B22;
    border: 1px solid #fff;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__links-button_saved{
 background: #fff;
 color: #1A1B22;
}


.header__links-item_selected{
  color: #ffffff;
  border-bottom:none;
}

.header__links-hidden{
  display: none;
}
.header__links-open{
  display: block
}
  



}

.header__links-item_selected-saved{
  border-bottom:3px solid #1A1B22;;
}

